* {
  margin: 0;
  padding: 0;
}
.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-box {
  margin-top: 100px;
  font-size: 48px;
  text-align: center;
  color: black;
  background-color: #ffd700;
  text-shadow: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin: 200px;
}
#username {
  font-size: 36px;
  text-align: center;
  color: black;
}

.headerhandle-username-box {
  font-size: 48px;
  text-align: left;
  text-shadow: 25px;
}
#submit {
  width: 100px;
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #ffd700;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 10px 10px #555353;
  cursor: pointer;
}

.main-page-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}
/* header items to be rendered */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: max-content;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  background-image: linear-gradient(blue, yellow);
  z-index: 100;
}
/* Logo */
.header-logo-box {
  position: relative;
  width: 250px;
  height: 65px;
  left: 0px;
  color: #ffd700;
  font-size: 42px;
  box-shadow: 10px 10px 10px #555353;
  text-align: center;
  border-radius: 40px;
}
.header-logo-box:hover {
  color: #ffd700;
  box-shadow: 20px black;
  font-size: 350%;
  width: 400%;
  height: 110%;
}
.Logout-button {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffd700;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 10px 10px #555353;
  cursor: pointer;
}
/* welcome text */
.header-welcome-box {
  width: 350px;
  height: 50px;
  margin-left: 18vw;
  grid-column: span 2;
  font-size: 32px;
  text-align: left;
  text-shadow: 25px;
}
/* total cost summary */
.header-spend-summary-box {
  width: 200px;
  height: 35px;
  box-shadow: 10px 10px 10px #555355;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify;
  padding: 5px 0px 0px 10px;
  background-color: #ffd700;
}
.header-spend-summary-box:hover {
  color: black;
  box-shadow: 20px black;
}
/* main paige, audiobooks elements to be rendered */
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: calc(75% - 20px);
  margin-top: 20px;
}
.audiobook-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audiobook-container {
  width: 200px;
  height: 220px;
  margin: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #faf3c9;
  margin-bottom: 0;
}

.home-button,
.add-audiobook-button,
.audiobook-container:hover {
  box-shadow: 10px 10px 10px #555353;
  cursor: pointer;
}

.add-audiobook-button,
.home-button {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffd700;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.basket-container {
  position: fixed;
  top: 145px;
  right: 0;
  bottom: 0;
  width: 20%;
  padding: 20px;
  background-image: linear-gradient(yellow, blue);
}
li {
  list-style-type: none;
  margin: 18px;
  padding: 1px;
  border: 1px solid #ccc;
  background-color: #faf3c9;
  color: black;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
}

img {
  width: 200px;
  height: 100px;
  margin: 10px;
}

.remove-Audiobook-button {
  width: 120px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffd700;
  color: black;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.top-of-page-btn {
  width: 20%;
  border: 1px solid #ccc;
  background-color: #ffd700;
  color: black;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555353;
  padding: 5px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  right: 50%;
}
.top-of-page-btn:hover,
.add-audiobook-button:hover,
.home-button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px black;
}

/* postioning of the audiobook content on information page */
.audiobook-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}
