* {
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}

/* header items to be rendered */
.header-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: max-content;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
  margin: 1px;
  padding: 10px;
  /* background-color: #028ff0; */
  background-image: linear-gradient(blue, yellow);
}

.header-logo-box {
  position: relative;
  width: 250px;
  height: 65px;
  left: 0px;
  color: #ffd700;
  font-size: 40px;
  box-shadow: 10px 10px 10px #555353;
  text-align: center;
  border-radius: 40px;
}
.header-logo-box:hover {
  color: #ffd700;
  box-shadow: 20px black;
  cursor: pointer;
  font-size: 350%;
  width: 300%;
  height: 110%;
}
.header-username-box {
  width: 200px;
  height: 25px;
  box-shadow: 10px 10px 10px #555353;
  font-size: 20px;
  text-align: center;
  align-items: center;
  color: #ffd700;
  /* background-image: linear-gradient(blue, yellow); */
}
/* .header-username-box:hover {
  color: #ffd700;
  box-shadow: 20px black;
} */
/* .header-credit-box {
  width: 200px;
  height: 25px;
  box-shadow: 10px 10px 10px #555355;
  font-size: 20px;
  text-align: left;
  padding: 5px 0px 0px 10px;
  color: white;
  background-color: 028ff0;
  border-radius: 5px;
}
.header-credit-box:hover {
  color: #ffd700;
  box-shadow: 20px black;
} */
.header-welcome-box {
  width: 350px;
  height: 50px;
  margin-left: 18vw;
  grid-column: span 2;
  font-size: 32px;
  text-align: left;
  text-shadow: 25px;
}
.header-spend-summary-box {
  width: 200px;
  height: 35px;
  box-shadow: 10px 10px 10px #555355;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify;
  padding: 5px 0px 0px 10px;
  background-color: #ffd700;
}
.header-spend-summary-box:hover {
  color: black;
  box-shadow: 20px black;
}
/* main paige, audiobooks elements to be rendered */

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 75%;
}
.audiobook-container {
  width: calc(30.33% - 20px);
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* basket elements to be rendered */
.basket-container {
  position: fixed;
  top: 146px;
  right: 0;
  bottom: 0;
  width: 20%;
  padding: 20px;
  /* background-color: #ffd700; */
  background-image: linear-gradient(
    to right,
    rgb(245, 245, 212),
    rgb(251, 251, 63)
  );
  /* border: 1px solid #ccc; */
}

/* footer items to be rendered */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  margin: 1px;
  padding: 20px;
  background-image: linear-gradient(yellow, blue);
}
.footer-home,
.footer-top-of-page {
  width: 20%;
  /* padding: 10px; */
  margin: auto;
  align-items: stretch;
  border: 1px solid #ccc;
  background-image: linear-gradient(#ffd700);
  color: white;
  text-align: center;
  border-radius: 5px;
}
.footer-home,
.footer-top-of-page:hover {
  color: white;
  cursor: pointer;
}
